<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>게시글 작성 <2> - 프로젝트 협업 게시판</title>
        <link
            rel="stylesheet"
            href="../../static/css/project_write2/project_write2.css"
        />
        <link rel="stylesheet" href="project_write2.css" />
        <link
            rel="shortcut icon"
            href="https://www.wishket.com/static/favicon.ico"
        />
    </head>
    <body>
        <div id="header-space" style="width: 100px; height: 100px"></div>
        <div class="wrap">
            <div>
                <div class="container">
                    <form>
                        <div class="post-write-form-section">
                            <div class="form-section-header">
                                <p class="form-section-title subtitle-1">
                                    프로젝트 협업 작성 <2></2>
                                </p>
                            </div>
                            <div class="form-input-section">
                                
                                <div class="form-part">
                                    <label class="form-title font-body-1-bold"
                                        >프로젝트 예정 사항
                                        <span class="required">*</span>
                                    </label>
                                    <div class="mb8"></div>
                                    <div class="form-content">
                                        <div>
                                            <div class="content-textarea">
                                                <div class="textarea-border">
                                                    <textarea
                                                        class="moa-textarea font-body-2 text6"
                                                        name="textarea"
                                                        id="content-textarea1"
                                                        maxlength="5000"
                                                        rows="15"
                                                        style="
                                                            width: 100%;
                                                            min-width: 100%;
                                                            max-width: 100%;
                                                        "
                                                    >
<아래는 예시 양식입니다!!>

진행 분류 : 신규 프로젝트를 진행하려 합니다.
기획 상태 : 아이디어만 있는 상태
프로젝트 경험 : IT 프로젝트 관리 경험 있음
협업 예정 인력 : IT 프로젝트 관리 경험 있음
                                                    </textarea>
                                                </div>
                                                <span
                                                    class="word-length word-length1"
                                                ></span>
                                                <span class="help-text help-text1"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-part">
                                    <label class="form-title font-body-1-bold"
                                        >모집 요건
                                        
                                    </label>
                                    <div class="mb8"></div>
                                    <div class="form-content">
                                        <div>
                                            <div class="content-textarea">
                                                <div class="textarea-border">
                                                    <textarea
                                                        class="moa-textarea font-body-2 text6"
                                                        name="textarea"
                                                        id="title-textarea"
                                                        maxlength="260"
                                                        rows="4"
                                                        style="
                                                            width: 100%;
                                                            min-width: 100%;
                                                            max-width: 100%;
                                                            min-height: 30px;
                                                        "
                                                    >
모집 요건을 입력해 주세요. ex) 
주 1회 미팅 및 대면 작업 가능자, 개인사업자 또는 법인사업자 가능자, 
한글, 파워포인트 작성이 유능하신 분, 프론트 엔드 회사 경력 2년 이상 근무한 지원자</textarea
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="divide-wrap"></div>
                                <div class="form-part">
                                    <label class="form-title font-body-1-bold"
                                        >프로젝트 내용
                                        <span class="required">*</span>
                                    </label>
                                    <div class="mb8"></div>
                                    <div class="form-content">
                                        <div>
                                            <div class="content-textarea">
                                                <div class="textarea-border">
                                                    <textarea
                                                        class="moa-textarea font-body-2 text6"
                                                        name="textarea"
                                                        id="content-textarea2"
                                                        maxlength="5000"
                                                        rows="15"
                                                        style="
                                                            width: 100%;
                                                            min-width: 100%;
                                                            max-width: 100%;
                                                        "
                                                    >
<아래는 예시 양식입니다!!>
                                                    
프로젝트 개요 : 삼성 반도체 건설 안전 관리 회사 웹사이트 제작이 필요합니다.
현재 준비 상황 : 문구, 이미지 등 컨텐츠 자료는 전달드릴 예정입니다.
필요 요소 : 삼성 반도체 건설 안전 관리 회사 웹사이트 기획 및 디자인
개발환경/언어/방식 : 반응형 웹으로 개발이 필요합니다.
주요 기능 List/주요 화면 List/메뉴 구성/요구 사항 등 : 회사 소개, 제품 소개, 채용, 계열사 소개 등의 소개 웹입니다.
산출물 : 기획 : 기능, 화면 등 기획/설계 문서 일체
참고 서비스/사이트 : https://www.naver.com
기타 참고 사항/유의 사항 : 유사한 프로젝트 경험이 있는 업체를 찾고 있으며 디자인에 역량이 있는 업체를 선호합니다
                                                    </textarea>
                                                </div>
                                                <span
                                                    class="word-length word-length2"
                                                ></span>
                                                <span class="help-text help-text2"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="attach-wrap">
                                        <div class="attach-button-file-wrap">
                                            <div class="attach-button">
                                                <label>
                                                    <img
                                                        src="https://www.wishket.com/static/renewal/img/project/submit/btn_icon_add_s.svg"
                                                        alt="attach_img"
                                                    />
                                                    <div
                                                        class="font-body-2-medium text-moa"
                                                    >
                                                        파일첨부
                                                    </div>
                                                    <input
                                                        type="file"
                                                        class="attach-input"
                                                    />
                                                </label>
                                            </div>
                                        </div>
                                        <div class="attach-button-file-wrap">
                                            <div class="attach-button">
                                                <label>
                                                    <img
                                                        src="https://www.wishket.com/static/renewal/img/project/submit/btn_icon_add_s.svg"
                                                        alt="attach_img"
                                                    />
                                                    <div
                                                        class="font-body-2-medium text-moa"
                                                    >
                                                        파일첨부
                                                    </div>
                                                    <input
                                                        type="file"
                                                        class="attach-input"
                                                    />
                                                </label>
                                            </div>
                                        </div>
                                        <div class="attach-button-file-wrap">
                                            <div class="attach-button">
                                                <label>
                                                    <img
                                                        src="https://www.wishket.com/static/renewal/img/project/submit/btn_icon_add_s.svg"
                                                        alt="attach_img"
                                                    />
                                                    <div
                                                        class="font-body-2-medium text-moa"
                                                    >
                                                        파일첨부
                                                    </div>
                                                    <input
                                                        type="file"
                                                        class="attach-input"
                                                    />
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="complete-save-button-divider">
                                <div class="complete-button">작성완료</div>
                                <div class="save-button">저장</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="footer-space" style="width: 100px; height: 100px"></div>
    </body>
    <script src="../../static/js/project_write2/project_write2.js"></script>
    <script src="project_write2.js"></script>
</html>
