@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: url("/templates/fonts/NotoSansKR-Bold.woff2") format("woff2"),url("/templates/fonts/NotoSansKR-Bold.woff") format("woff"),url("/templates/fonts/NotoSansKR-Bold.otf") format("opentype")
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: url("/templates/fonts/NotoSansKR-Medium.woff2") format("woff2"),url("/templates/fonts/NotoSansKR-Medium.woff") format("woff"),url("/templates/fonts/NotoSansKR-Medium.otf") format("opentype")
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url("/templates/fonts/NotoSansKR-Regular.woff2") format("woff2"),url("/templates/fonts/NotoSansKR-Regular.woff") format("woff"),url("/templates/fonts/NotoSansKR-Regular.otf") format("opentype")
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    src: url("/templates/fonts/NotoSansKR-Light.woff2") format("woff2"),url("/templates/fonts/NotoSansKR-Light.woff") format("woff"),url("/templates/fonts/NotoSansKR-Light.otf") format("opentype")
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    src: url("/templates/fonts/NotoSansKR-Thin.woff2") format("woff2"),url("/templates/fonts/NotoSansKR-Thin.woff") format("woff"),url("/templates/fonts/NotoSansKR-Thin.otf") format("opentype")
}


*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
    font-family: "NotoSansKR", "Sans-serif";
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: #f5f5f5;
    height: 100%;
}
header .header {
    min-width: 1080px;
    font-size: 16px;
    
}
header.header .wrap {
    background-color: #242933;
    border-bottom: 1px solid #383d47;
    min-height: 65px;
}

header.header .header-service-nav .container {
    display: flex;
}
header.header .header-service-nav {
        padding-top: 9px;
        padding-bottom: 11px;
        border-bottom: 1px solid #383d47;
        display: flex;

}
header.header .container {
    
    width: 1080px;
    margin: 0 auto;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.service-link {
    display: flex;
    gap: 0px;
    cursor: pointer;
}
img {
    
    overflow-clip-margin: content-box;
    overflow: clip;
}
.noti-bell-img{
    position: absolute;
    overflow-clip-margin: content-box;
    overflow: clip;
    left : -140px;
}

a {
    text-decoration: none;
    color: #212121;
}
.service-name {
    line-height: 20px;
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
}
.caption-1{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}
.divider{
    background-color: #383d47;
    width: 1px;
    height: 12px;
    background-color: #eee;
    margin: 3px 12px 0px 12px;
}

div {
    display: block;
    unicode-bidi: isolate;  
}

/*=============================================================================================*/
header.header .container {
    width: 1080px;
}
.container {
    width: 1080px;
    margin: 0 auto;
}
.container:after {
    display: none;
    content: "";
    display: table;
    clear: both;
}


.nav-logo-wrapper {
    width: 77px;
    padding: 20px 0;
    float: left;
    margin-right: 24px;
    font-size: 18px;
    line-height: 20px;
    text-indent: -9999em;
    box-sizing: border-box;
    background-size: 80px 20px;
}
.nav-logo {
    width: 100%;
    height: 24px;
    background-image: url(   https://www.wishket.com/static/renewal/img/global/wishket_logo_client.svg);
}

.left-nav {
    display: flex;
    gap: 4px;   
    float: left;
}
header.header .wrap .left-nav .left-nav-menu:hover {
    color: #ccd1d6
}
.left-nav .left-nav-menu {
    color: #fff;
}
.left-nav-menu {
    color: #fff;
    padding: 20px 12px;
    display: flex;
    cursor: pointer;
    align-items: center;
}


.font-body-2 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.left-nav-menu.pr-8{
    padding-right: 8px;
}
.img-container {
    display: flex;
    align-items: center;
    margin-left: 4px;
}
.drop-down-list1 {
    display: none;
    width: 200px;
    border-radius: 8px;
    background-color: #242933;
    position: absolute;
    margin-left: -12px;
    z-index: 999;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .16);
    max-height: 168px;
}
.drop-down-list2 {
    display: none;
    width: 200px;
    border-radius: 8px;
    background-color: #242933;
    position: absolute;
    margin-left: -12px;
    z-index: 999;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .16);
    max-height: 129px;
   
}


.left-bar-useguide img {
    max-height: 169px; 
    width: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; 
}
.left-customer-case img{
    max-height: 130px; 
    width: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; 
}

.menu-list {
    padding: 9px 0;
    
}
.drop-down-menu{
    width: 192px;
    height: 40px;
    padding: 8px 16px;
    cursor: pointer;
    
}
.text9{
    color: #212121;

}
.nav-divider {
    margin: 25px 4px 0px 4px;
    height: 14px;
    border-left: 1px solid #4d525c;
    display: block;
    float: left;
    


}
.right-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 64px;
    position: relative;
    margin-left: auto; 
}
.log-in-section {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;
}
.sign-up-button {
    margin-left: 12px;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    border-radius: 8px;
    color: #fff;
    background: linear-gradient(180deg, #5db6d4, #369cc2 100%);
    cursor: pointer;
}
.body-2-medium {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}

#nav_advertisement {
    margin-top: 0;
    width: 100%;
    height: 80px;
}
.right-nav-menu:hover {
    color: #ccd1d6;
}
.right-nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 12px;
    
    color: #212121;
}
.right-nav-menu{
    color: #fff;
    position: relative;
}

.img-container {
    display: flex;
    align-items: center; /* 이미지와 텍스트 수직 정렬 */
    margin-left: 8px; /* 텍스트와 이미지 사이의 간격 조정 */
}

.right-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 64px;
    position: relative;
    left: -2px; 

}
.my-project-container{
    display: flex;
    align-items: center;
}

.img-container{
    display: flex;
    align-items: center;
    margin-left: 4px;
}
.my-project-drop-down{
    display: none;
    position: absolute;
    top: 65px;
    left: -222px;
    width: 202px;
    padding: 9px 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .16);
    background-color: #fff;
    z-index: 999;
    border: 1px solid #e0e0e0;
}
.sub-headline{
    width: 100%;
    height: 26px;
    padding: 8px 16px 4px;
    color: #9e9e9e;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.cap{
    padding: 8px 0;
}
.drop-down-menu {
    display: flex;
    width: 100%;
    height: 40px;
    gap: 12px;
    padding: 0 16px;
    cursor: pointer;
    color: #fff;
}
.text777{
   color: #212121;
}

.noti-bell-container{
    width: 0px;
    height: 35px;
    margin-left: 4px;
    padding: 1px 0;
    cursor: pointer;
}
.profile-img-container{
    position: relative;
    padding: 17px 0px 0px 20px;
    height: 66px;
    left: -129px;
}
.user-img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
    

}

.profile-drop-down{
    display: none;
    position: absolute;
    top: 64px;
    right: -125px;
    width: 282px;
    flex-direction: column;
    padding: 21px 0 9px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .16);
    z-index: 1201;
    border: 1px solid #e0e0e0;
}
.section-1{
    padding: 0 24px 16px;
    display: flex;
    gap: 16px;
}
.user-profile{
    cursor: pointer;
}
.section-1 .user-profile .user-img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.user-profile .edit-profile-img-icon{
    position: absolute;
    top: 52px;
    left: 54px;
    width: 20px;
    height: 20px;
    background-image: url(https://www.wishket.com/static/renewal/img/global/edit_profile_img_icon.svg);
}

.font-body-2-medium {
    font-weight: 500;
}
.font-body-2-medium{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.mb4 {
    margin-bottom: 4px;
}
.email-info{
    width: 166px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.text6 {
    color: #616161;
}
.font-body-3{
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}
.section-2 {
    height: 52px;
    padding: 0 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section-2-btn{
    padding: 6px 16px;
    height: 38px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    text-align: center;
    cursor: pointer;
}
.divider{
    height: 1px;
    width: 100%;
    margin: 4px 0;
    background-color: #eee;
}
.divider1{
    height: 1px;
    width: 100%;
    margin: 0;
    background-color: #eee;
    position: relative;
    top: -8px;
}
.profile-dropdown .drop-down-menu{
    width: 100%;
    height: 40px;
    padding: 8px 24px;
    cursor: pointer;
}
.drop-down-menu.gray{
    color: #616161;
}
