<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../static/css/qa/qa-inquiry.css" />
        <title>Q&A 게시판- 조회페이지</title>
    </head>
    <body>
        <div class="wrap">
            <div class="detail-section">
                <div class="detail-title">
                    <div class="question">Q.</div>
                    <div class="question-title">
                        비트연산에 대해서 자세히 설명해주실 분 계신가요?
                    </div>
                </div>
                <div class="detail-data">
                    <div class="detail-contents body-2 text900">
                        <div class="detail-contents body-2 text900">
                            이용약관 제10조 (회원의 의무) 중 아래 항목들을
                            참고해 주세요!
                            <br />
                            <br />
                            <span class="bold-text"
                                >1. 허위 또는 과장된 정보 입력</span
                            >
                            <br />
                            · 클라이언트가 프로젝트 등록 시 실제 업무 범위보다
                            축소하거나 허위 내용을 입력하는 행위
                            <br />· 기타 위시켓 서비스 이용 시 회원이 입력하는
                            정보 일체에 대하여 허위 또는 과장된 정보를 입력하는
                            행위
                            <br />
                            <br />
                            <span class="bold-text"
                                >2. 타인의 서비스 이용 방해</span
                            >
                            <br />
                            · 미팅 시 등록된 프로젝트 내용과 다른 요구를 하는
                            행위
                            <br />
                            · 서비스 내에서 체결한 계약을 정당한 사유 없이
                            이행하지 않는 행위
                            <br />
                            <br />
                            <span class="bold-text"
                                >3. 직거래가 제한된 서비스에서의 직거래
                                유도</span
                            >
                            <br />
                            · 위시켓 플랫폼 내에 상호(성명), 로고 등 상표, 주소,
                            전화번호, 이메일 주소 등 신원 식별을 용이하게 하는
                            정보를 입력하는 행위
                            <br />
                            · 사전 협의 없이 위시켓을 제외하고 직거래를 하는
                            행위
                            <br />
                            <br />
                            그 외 자세한 항목과 이용약관은 홈페이지 왼쪽 하단
                            '이용약관'에서 확인하실 수 있습니다.
                            <br />
                            원활한 위시켓 이용을 위해 참고 부탁드립니다.
                            <br />
                            <br />
                            <div class="alert-box">
                                <p class="alert-title flex-box start warning">
                                    주의하세요!
                                </p>
                                <p class="alert-contents">
                                    ※ 운영취지에 위반되는 게시물은 관리자에 의해
                                    삭제될 수 있다는 점 유의하여 주십시오.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex-box space-between faq-evaluation">
                        <input type="hidden" value="" />
                        <p class="body-3-medium text900 evaluation-text">
                            답변을 통해 문제가 해결되었나요?
                        </p>
                        <div class="flex-box">
                            <button
                                class="flex-box body-2 text600 evaluation-button"
                                value="good"
                            >
                                <img
                                    class="faq-evaluation-icon"
                                    src="https://www.wishket.com//static/renewal/img/acquisition/cs/faq-icon-problem-1.png"
                                    srcset="
                                        https://www.wishket.com//static/renewal/img/acquisition/cs/faq-icon-problem-1@2x.png 2x,
                                        https://www.wishket.com//static/renewal/img/acquisition/cs/faq-icon-problem-1@3x.png 3x
                                    "
                                />
                                <span>예</span>
                            </button>
                            <button
                                class="flex-box body-2 text600 evaluation-button"
                                value="bad"
                            >
                                <img
                                    class="faq-evaluation-icon"
                                    src="https://www.wishket.com///static/renewal/img/acquisition/cs/faq-icon-problem-2.png"
                                    srcset="
                                        https://www.wishket.com///static/renewal/img/acquisition/cs/faq-icon-problem-2@2x.png 2x,
                                        https://www.wishket.com///static/renewal/img/acquisition/cs/faq-icon-problem-2@3x.png 3x
                                    "
                                />
                                <span>아니요</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-wrap">
            <p class="comment-count-wrap">
                A. 답변 <span class="comment-count">3</span>
            </p>
            <div class="comment-container">
                <div class="comment-inner">
                    <p class="comment">비밀 댓글입니다.</p>
                    <div class="comment-created-date">
                        2024.08.27. 오후 15:27
                    </div>
                </div>
                <div class="comment-inner">
                    <img
                        class="comment-reply-icon"
                        src="https://www.wishket.com/static/renewal/img/project/detail/icon_comment_reply.png"
                    />
                    <div class="comment-reply-wrap">
                        <p class="comment">비밀 댓글입니다.</p>
                        <div class="comment-created-date">
                            2024.08.27. 오후 15:28
                        </div>
                    </div>
                </div>
                <div class="comment-inner">
                    <div class="comment-writer">
                        <img
                            src="https://cdn.wishket.com/profiles/2828_20191121_db85568715d9aacd.jpg"
                            alt=""
                            class="comment-writer-image"
                        />
                        <a
                            href="https://www.wishket.com/partners/p/Wishket/"
                            class="comment-writer-username"
                            >Moa</a
                        >
                    </div>
                    <p class="comment">
                        [모아] 클라이언트의 요청으로 모집 마감일이 09월 23일로
                        연장되었습니다.
                    </p>
                    <div class="comment-created-date">
                        2024.09.02. 오후 20:18
                    </div>
                    <div class="reaction-button-wrap">
                        <button class="reaction-button">답글 달기</button>
                    </div>
                </div>
                <form class="comment-form" method="post">
                    <div class="comment-write-wrap">
                        <div class="comment-write-container">
                            <div class="comment-writer">
                                <img
                                    src="https://www.wishket.com/static/img/default_avatar_c.png"
                                    class="comment-writer-image"
                                />
                                <p class="comment-writer-username">홍박**</p>
                            </div>
                            <textarea
                                name="comment-description"
                                class="comment-write-textarea"
                                placeholder="댓글을 2,000자 이내로 작성해주세요."
                                rows="4"
                            ></textarea>
                            <div class="comment-guide-wrap">
                                <p
                                    class="comment-guide"
                                    style="margin-bottom: 4px"
                                >
                                    · 작성한 내용은 수정 및 삭제가 불가합니다.
                                </p>
                                <p class="comment-guide">
                                    · 이메일, 전화번호 등을 게시하여 직거래를
                                    유도할 경우 서비스 이용에 제재를 받을 수
                                    있습니다.
                                </p>
                            </div>
                            <div class="comment-complete-button-wrap">
                                <div class="secret-comment-option">
                                    <label class="checkbox-moa">
                                        <span class="secret-comment-checkbox">
                                            <input
                                                type="checkbox"
                                                class="secret-comment-input"
                                                name="secret"
                                                value="secret"
                                            />
                                            <span
                                                class="secret-comment-checkbox-image"
                                            >
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 16 16"
                                                >
                                                    <g
                                                        fill="none"
                                                        fill-rule="evenodd"
                                                    >
                                                        <path
                                                            class="checked-icon"
                                                            stroke="#FFF"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            stroke-width="1.6"
                                                            d="M4 7.8L7 11l5-6"
                                                        ></path>
                                                    </g>
                                                </svg>
                                            </span>
                                        </span>
                                        <span>비밀글</span>
                                    </label>
                                </div>
                                <button class="comment-complete-button">
                                    작성하기
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <script src="../../static/js/qa/qa-inquiry.js"></script>
</html>
