<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/qa/qa-inquiry.css" />
    <link rel="shortcut icon" href="https://www.wishket.com/static/favicon.ico" />
    <title>Q&A 게시판 - 조회페이지</title>
</head>
<body>
<div class="wrap">
    <div class="detail-section">
        <div class="title-wrap">
            <div class="detail-title">
                <div class="question">Q.</div>
                <div class="question-title" id="question-title">
                    <!-- 질문 제목을 동적으로 불러오기 -->
                    [[${post.postTitle}]]
                </div>
            </div>
            <div class="report-wrap">
                <div class="report-container">
                    <div class="for-report" id="report-btn">
                        <img id="img-report" src="/images/report2.png" />신고하기
                    </div>
                </div>
                <div class="report-container">
                    <div class="for-report" id="edit-btn">
                        <img id="img-edit" src="/images/edit.png" />수정하기
                    </div>
                </div>
                <div class="report-container">
                    <div class="for-report" id="delete-btn">
                        <img id="img-delete" src="/images/delete.png" />삭제하기
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="detail-data">
            <div class="detail-contents body-2 text900">
                <div class="detail-contents body-2 text900">
                    <!-- 질문 내용을 동적으로 불러오기 -->
                    [[${post.postContent}]]
                </div>
            </div>
            <div class="flex-box space-between faq-evaluation">
                <input type="hidden" value="" />
                <p class="body-3-medium text900 evaluation-text">
                    답변을 통해 문제가 해결되었나요?
                </p>
                <div class="flex-box">
                    <button class="flex-box body-2 text600 evaluation-button" value="good">
                        <img class="faq-evaluation-icon" src="https://www.wishket.com//static/renewal/img/acquisition/cs/faq-icon-problem-1.png" />
                        <span>예</span>
                    </button>
                    <button class="flex-box body-2 text600 evaluation-button" value="bad">
                        <img class="faq-evaluation-icon" src="https://www.wishket.com///static/renewal/img/acquisition/cs/faq-icon-problem-2.png" />
                        <span>아니요</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="comment-wrap">
    <p class="comment-count-wrap">
        A. 답변 <span class="comment-count">3</span>
    </p>
    <div class="comment-container">
        <!-- 댓글 섹션은 필요에 따라 수정 -->
        <!-- 예시 댓글 -->
        <div class="replyComment">
        <div class="comment-inner">
            <div class="comment-writer">
                <img src="https://cdn.wishket.com/profiles/2828_20191121_db85568715d9aacd.jpg" alt="" class="comment-writer-image" />
                <a href="https://www.wishket.com/partners/p/Wishket/" class="comment-writer-username">[[${post.memberNickname}]]</a>
            </div>
            <p class="comment">
                [[${reply.replyContent}]]
            </p>
            <div class="comment-created-date">
                [[${post.createdDate}]]
            </div>
        </div>
        </div>
        <!-- 댓글 작성 폼 -->
        <form class="comment-form" method="post">
            <div class="comment-write-wrap">
                <div class="comment-write-container">
                    <div class="comment-writer">
                        <img src="https://www.wishket.com/static/img/default_avatar_c.png" class="comment-writer-image" />
                        <p class="comment-writer-username">[[${post.memberId}]]</p>
                    </div>
                    <textarea name="comment-description" class="comment-write-textarea" placeholder="댓글을 2,000자 이내로 작성해주세요." rows="4"></textarea>
                    <div class="comment-complete-button-wrap">
                        <button class="comment-complete-button">작성하기</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script src="/js/qa/qa-inquiry.js"></script>
</html>
