<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/main/footer/footer.css" />
        <title>Main</title>
    </head>
    <body>
        <footer class="footer">
            <div class="container">
                <div class="footer-service-menu-list">
                    <div class="footer-service-menu">
                        <div class="footer-service-menu-title">
                            <span style="white-space: nowrap"
                                >Spring boot(Orcle)project</span
                            >
                        </div>
                        <a class="footer-service-menu-item" href=""
                            ><img
                                src="https://www.wishket.com/static/renewal/img/news/img_service_symbol_1.png"
                                srcset="
                                    https://www.wishket.com/static/renewal/img/news/img_service_symbol_1.png    1x,
                                    https://www.wishket.com/static/renewal/img/news/img_service_symbol_1@2x.png 2x,
                                    https://www.wishket.com/static/renewal/img/news/img_service_symbol_1@3x.png 3x
                                "
                            />모아</a
                        >
                    </div>
                </div>
                <div class="footer-service-policy">
                    <a class="footer-service-policy-item" href="">이용약관</a>
                    <div class="divider"></div>
                    <a class="footer-service-policy-item" href=""
                        >개인정보 처리방침</a
                    >
                    <div class="divider"></div>
                    <a class="footer-service-policy-item" href=""
                        >관리자 페이지</a
                    >
                </div>
                <div class="footer-company-info">
                    <div class="footer-company-info-list">
                        <div class="footer-company-info-item">㈜위시켓</div>
                        <div class="divider"></div>
                        <div class="footer-company-info-item">
                            팀장 : 김아영
                        </div>
                        <div class="divider"></div>
                        <div class="footer-company-info-item">
                            코리아IT 아카데미
                        </div>
                    </div>
                    <div class="footer-company-info-list">
                        <div class="footer-company-info-item">
                            팀원 : 양승민, 이지민, 한민규, 윤주현
                        </div>
                    </div>

                    <div class="footer-company-info-copyright">
                        © 2024 Moa Team.
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script></script>
</html>
