<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/static/css/main/header_login/header_login.css"
        />
        <title>Main</title>
    </head>
    <body>
        <header class="header">
            <section class="wrap">
                <div class="header-service-nav">
                    <div class="container">
                        <div class="service-link wishket">
                            <img
                                src="https://www.wishket.com/static/renewal/img/global/gnb_wishket.svg"
                            />
                            <div class="service-name caption-1">위시켓</div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <a href="">
                        <div class="nav-logo-wrapper">
                            <div class="nav-logo"></div>
                        </div>
                    </a>
                    <div class="left-nav">
                        <a href="">
                            <div class="left-nav-menu font-body-2">
                                정보 모아
                            </div>
                        </a>
                        <a href="">
                            <div class="left-nav-menu font-body-2">
                                자유 모아
                            </div>
                        </a>
                        <a href="">
                            <div class="left-nav-menu font-body-2">
                                장터 모아
                            </div>
                        </a>
                        <div class="drop-down-container">
                            <a href="">
                                <div class="left-nav-menu pr-8 font-body-2">
                                    논문 모아
                                </div>
                            </a>
                        </div>
                        <div class="drop-down-container">
                            <a href="">
                                <div
                                    class="left-nav-menu pr-8 font-body-2 text9"
                                >
                                    협업 모아
                                </div>
                            </a>
                        </div>
                        <div class="nav-divider"></div>
                        <a href="">
                            <div class="left-nav-menu font-body-2 text9">
                                Q&A
                                <div class="img-container">
                                    <img
                                        src="https://www.wishket.com/static/renewal/img/global/new-sign.png"
                                    />
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="left-nav-menu font-body-2 text9">
                                고객센터
                            </div>
                        </a>
                    </div>
                    <div class="right-nav">
                        <div class="my-project-container">
                            <div class="right-nav-menu font-body-2">
                                <div class="noti-bell-container">
                                    <img
                                        class="noti-bell-img"
                                        src="https://www.wishket.com/static/renewal/img/global/client-noti-bell-new.png"
                                        srcset="
                                            https://www.wishket.com/static/renewal/img/global/client-noti-bell-new.png    1x,
                                            https://www.wishket.com/static/renewal/img/global/client-noti-bell-new@2x.png 2x,
                                            https://www.wishket.com/static/renewal/img/global/client-noti-bell-new@3x.png 3x
                                        "
                                    />
                                </div>

                                <div class="my-project-drop-down">
                                    <div class="my-project">
                                        <div
                                            class="sub-headline caption-2 text4"
                                        >
                                            내 프로젝트
                                        </div>

                                        <a href="">
                                            <div class="drop-down-menu">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png"
                                                    srcset="
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png    1x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@2x.png 2x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@3x.png 3x
                                                    "
                                                />
                                                <div
                                                    class="cap font-body-2 text9"
                                                >
                                                    검수 중
                                                </div>
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="drop-down-menu">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png"
                                                    srcset="
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png    1x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@2x.png 2x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@3x.png 3x
                                                    "
                                                />
                                                <div
                                                    class="cap font-body-2 text9"
                                                >
                                                    지원자 모집 중
                                                </div>
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="drop-down-menu">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png"
                                                    srcset="
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png    1x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@2x.png 2x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@3x.png 3x
                                                    "
                                                />
                                                <div
                                                    class="cap font-body-2 text9"
                                                >
                                                    진행 중인 프로젝트
                                                </div>
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="drop-down-menu">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png"
                                                    srcset="
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png    1x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@2x.png 2x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@3x.png 3x
                                                    "
                                                />
                                                <div
                                                    class="cap font-body-2 text9"
                                                >
                                                    종료된 프로젝트
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="profile-img-container">
                            <img
                                src="https://www.wishket.com/static/img/default_avatar_c.png"
                                class="user-img"
                            />
                            <div class="profile-drop-down">
                                <div class="section-1">
                                    <div
                                        class="user-profile"
                                        onclick="show_img_edit_modal()"
                                    >
                                        <img
                                            class="user-img"
                                            src="https://www.wishket.com/static/img/default_avatar_c.png"
                                        />
                                        <div
                                            class="edit-proflie-img-icon"
                                        ></div>
                                    </div>
                                    <div class="user-info">
                                        <div
                                            class="font-body-2-medium text mb4"
                                        >
                                            id.name
                                        </div>
                                        <div
                                            class="font-body-3 text6 email-info"
                                        >
                                            email.name
                                        </div>
                                    </div>
                                </div>
                                <div class="section-2">
                                    <a href=""
                                        ><div
                                            class="section-2-btn font-body-2 text6"
                                        >
                                            마이위시켓
                                        </div></a
                                    >
                                </div>

                                <div class="section-2">
                                    <a href=""
                                        ><div
                                            class="section-2-btn font-body-2 text6"
                                        >
                                            로그아웃
                                        </div></a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <script src="/static/js/main/header_login/header_login.js"></script>
    </body>
</html>
