<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.moa.mapper.post.PostMapper">
    <insert id="insert">
        <selectKey keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_POST.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_POST(ID, POST_TITLE, POST_CONTENT, POST_TYPE, MEMBER_ID, POST_VIEW)
        VALUES (#{id}, #{postTitle}, #{postContent},#{postType},#{memberId},#{postView})
    </insert>
</mapper>