<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.moa.mapper.project_post.ProjectPostMapper">

    <insert id="insert">
        INSERT INTO TBL_THESIS_POST(ID, PROFESSOR_MAJOR, RESEARCH_FIELD, RESEARCH_PROFIT, RESEARCH_PERIOD, RESEARCH_DEADLINE, RESEARCH_START_DATE, RESEARCH_SCHEDULE, RESEARCH_REQUIREMENT)
        VALUES (#{id}, #{professorMajor}, #{researchField}, #{researchProfit}, #{researchPeriod}, #{researchDeadline}, #{researchStartDate}, #{researchSchedule}, #{researchRequirement})
    </insert>

    <select id="selectById" resultType="projectPostDTO">
        SELECT ID, STUDENT_MAJOR, PROJECT_FIELD, PROJECT_PROFIT, PROJECT_PERIOD, PROJECT_DEADLINE, PROJECT_START_DATE, PROJECT_SCHEDULE, PROJECT_REQUIREMENT
        FROM TBL_PROJECT_POST
        WHERE ID = #{id}
    </select>

    <update id="updateById">
        UPDATE TBL_PROJECT_POST
        SET STUDENT_MAJOR = #{studentMajor},
            PROJECT_FIELD = #{projectField},
            PROJECT_PROFIT = #{projectProfit},
            PROJECT_PERIOD = #{projectPeriod},
            PROJECT_DEADLINE = #{projectDeadline},
            PROJECT_START_DATE = #{projectStartDate},
            PROJECT_SCHEDULE = #{projectSchedule},
            PROJECT_REQUIREMENT = #{projectRequirement}
        WHERE ID = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM TBL_PROJECT_POST
        WHERE ID = #{id}
    </delete>

</mapper>
