<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.moa.mapper.qa_post.QaPostMapper">
    <insert id="insert">
        INSERT INTO TBL_QA_POST(ID)
        VALUES (#{id})
    </insert>

    <select id="selectById" resultType="qaPostDTO">
        SELECT ID
        FROM TBL_QA_POST
        WHERE ID = #{id}
    </select>

    <update id="updateById">
        UPDATE TBL_QA_POST
        SET PROJECT_FIELD = #{projectField},
            PROJECT_REQUIREMENT = #{projectRequirement}
        WHERE ID = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM TBL_QA_POST
        WHERE ID = #{id}
    </delete>
</mapper>