<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.moa.mapper.qa_post.QaPostMapper">
    <insert id="insert">
        INSERT INTO TBL_QA_POST(ID)
        VALUES (#{id})
    </insert>

    <select id="selectById" resultType="qaPostDTO">
        SELECT ID, POST_TITLE, POST_CONTENT, POST_TYPE, MEMBER_ID
        FROM TBL_POST
        WHERE ID = #{id}
    </select>

    <select id="selectAll" resultType="qaPostDTO">
        SELECT QP2.ID, MEMBER_NICKNAME, MEMBER_MAJOR, QP2.UPDATED_DATE, QP2.POST_TITLE, QP2.POST_CONTENT, QP2.POST_VIEW
        FROM
            (
            SELECT ROWNUM R, QP1.ID, MEMBER_NICKNAME, MEMBER_MAJOR, QP1.UPDATED_DATE, QP1.POST_TITLE, QP1.POST_CONTENT, QP1.POST_VIEW
            FROM
                (
                SELECT QP.ID, M.MEMBER_NICKNAME, M.MEMBER_MAJOR, QP.UPDATED_DATE , QP.POST_TITLE, QP.POST_CONTENT, QP.POST_VIEW
                FROM TBL_MEMBER M JOIN (
                    SELECT QP0.ID, POST_TITLE, POST_CONTENT, MEMBER_ID, POST_VIEW, UPDATED_DATE
                    FROM TBL_POST P JOIN TBL_QA_POST QP0
                    ON P.ID = QP0.ID
                ) QP
                ON M.ID = QP.MEMBER_ID
                ORDER BY QP.ID DESC
                ) QP1
                    <![CDATA[
                    WHERE ROWNUM <= #{endRow}
                    ) QP2
                    WHERE ROWNUM >= #{startRow}
                    ]]>
    </select>

    <select id="selectCount">
        SELECT COUNT(*) FROM TBL_QA_POST
    </select>

    <update id="updateById">
        UPDATE TBL_POST
        SET POST_TITLE = #{postTitle},
            POST_CONTENT = #{postContent},
            POST_TYPE = #{postType}
        WHERE ID = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM TBL_QA_POST
        WHERE ID = #{id}
    </delete>
</mapper>