<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.moa.mapper.reply.ReplyMapper">
    <insert id="insert">
            INSERT INTO TBL_REPLY(ID,POST_ID, MEMBER_ID, REPLY_CONTENT, GROUP_ID, REPLY_DEPTH)
            VALUES (SEQ_REPLY.NEXTVAL, #{postId}, #{memberId}, #{replyContent},#{groupId}, #{replyDepth})
    </insert>

    <select id="selectAllByPostId" resultType="replyDTO">
        SELECT RE.ID, RE.MEMBER_ID,RE.POST_ID, M.MEMBER_NICKNAME, REPLY_CONTENT, RE.CREATED_DATE, RE.GROUP_ID
        FROM TBL_REPLY RE JOIN TBL_MEMBER M ON RE.MEMBER_ID = M.ID
        ORDER BY RE.ID DESC
    </select>


    <update id="update">
        UPDATE TBL_REPLY
        SET REPLY_CONTENT = #{replyContent}, UPDATED_DATE = CURRENT_TIMESTAMP
        WHERE ID = #{id}
    </update>

    <delete id="delete">
        DELETE FROM TBL_REPLY
        WHERE ID = #{id}
    </delete>
</mapper>