<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.moa.mapper.report.ReportMapper">
    <insert id="report">
        INSERT INTO TBL_REPORT(ID, POST_ID, MEMBER_ID, REPORT_REASON,REPORT_STATUS)
        VALUES (SEQ_REPORT.NEXTVAL, #{postId}, #{memberId},#{reportReason},#{reportStatus})
    </insert>

    <select id="selectAll" resultType="reportDTO">
        SELECT RP2.ID, RP2.MEMBER_ID, RP2.CREATED_DATE, RP2.POST_TITLE, RP2.POST_VIEW, RP2.REPLY_COUNT, RP2.REPORT_REASON, RP2.REPORT_STATUS
        FROM (
        SELECT RP1.*, ROWNUM AS R
        FROM (
        SELECT RP.ID, U.MEMBER_ID, P.CREATED_DATE, P.POST_TITLE, P.POST_VIEW, COUNT(RE.ID) AS REPLY_COUNT, RP.REPORT_REASON, RP.REPORT_STATUS
        FROM TBL_REPORT RP
        JOIN TBL_MEMBER M ON RP.MEMBER_ID = M.ID
        JOIN TBL_POST P ON RP.POST_ID = P.ID
        LEFT JOIN TBL_REPLY RE ON P.ID = RE.POST_ID
        GROUP BY RP.ID, M.MEMBER_NICKNAME, P.CREATED_DATE, P.POST_TITLE, P.POST_VIEW, RP.REPORT_REASON, RP.REPORT_STATUS
        ORDER BY RP.ID DESC
        ) RP1
        <![CDATA[
        WHERE ROWNUM <= #{endRow}
        ) RP2
        WHERE RP2.R >= #{startRow}
        ]]>
    </select>

    <select id="selectCount">
        SELECT COUNT(*) FROM TBL_REPORT
    </select>

    <!--    USER-->
    <!--    JOIN-->
    <!--    ROWNUM-->
    <!--    POST-->
    <!--    JOIN-->
    <!--    COUNT REPLY-->
    <!--    JOIN-->
    <!--    REPORT-->
    <!--    R.ID,REPORT_STATUS,REPORT_REASON-->
    <!--    COUNT(RE.ID) -->

</mapper>