<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.moa.mapper.thesispost.ThesisPostMapper">
    <insert id="insert">
        INSERT INTO TBL_THESIS_POST(ID,PROFESSOR_MAJOR,RESEARCH_FIELD,RESEARCH_PROFIT,RESEARCH_PERIOD,RESEARCH_DEADLINE,RESEARCH_START_DATE,RESEARCH_SCHEDULE,RESEARCH_REQUIREMENT)
        VALUES (#{id},#{professorMajor},#{researchField},#{researchProfit},#{researchPeriod},#{researchDeadline},#{researchStartDate},#{researchSchedule},#{researchRequirement})
    </insert>

    <select id="selectAll" resultType="thesisPostDTO">
        SELECT TP2.ID, USER_ID, USER_EMAIL, USER_PASSWORD, USER_TYPE, USER_NAME, USER_GENDER, USER_BIRTHDAY, USER_AREA, USER_DETAILED_AREA,
               USER_ADDRESS, USER_INTRODUCTION, USER_HOMEPAGE_ADDRESS, USER_CELL_PHONE, USER_PHONE, USER_FAX, USER_MAJOR, TP2.CREATED_DATE, TP2.UPDATED_DATE,
               PROFESSOR_MAJOR, RESEARCH_FIELD, RESEARCH_PROFIT, RESEARCH_PERIOD, RESEARCH_DEADLINE, RESEARCH_START_DATE, RESEARCH_SCHEDULE, RESEARCH_REQUIREMENT
        FROM
        (
            SELECT ROWNUM R, TP1.ID, USER_ID, USER_EMAIL, USER_PASSWORD, USER_TYPE, USER_NAME, USER_GENDER, USER_BIRTHDAY,
            USER_AREA, USER_DETAILED_AREA,
            USER_ADDRESS, USER_INTRODUCTION, USER_HOMEPAGE_ADDRESS, USER_CELL_PHONE, USER_PHONE, USER_FAX, USER_MAJOR,
            TP1.CREATED_DATE, TP1.UPDATED_DATE,
            PROFESSOR_MAJOR, RESEARCH_FIELD, RESEARCH_PROFIT, RESEARCH_PERIOD, RESEARCH_DEADLINE, RESEARCH_START_DATE,
            RESEARCH_SCHEDULE, RESEARCH_REQUIREMENT
            FROM
            (
                SELECT TP.ID, USER_ID, USER_EMAIL, USER_PASSWORD, USER_TYPE, USER_NAME, USER_GENDER, USER_BIRTHDAY, USER_AREA,
                USER_DETAILED_AREA, USER_ADDRESS,
                USER_INTRODUCTION, USER_HOMEPAGE_ADDRESS, USER_CELL_PHONE, USER_PHONE, USER_FAX, USER_MAJOR, TP.CREATED_DATE,
                TP.UPDATED_DATE, PROFESSOR_MAJOR,
                RESEARCH_FIELD, RESEARCH_PROFIT, RESEARCH_PERIOD, RESEARCH_DEADLINE, RESEARCH_START_DATE, RESEARCH_SCHEDULE,
                RESEARCH_REQUIREMENT
                FROM TBL_USER U JOIN TBL_THESIS_POST TP
                ON U.ID = TP.USER_ID
                ORDER BY TP.ID DESC
            ) TP1
        <![CDATA[
        WHERE ROWNUM<= #{endRow}
        ) TP2
        WHERE ROWNUM >= #{startRow}
        ]]>
    </select>

    <select id="selectCount">
        SELECT COUNT(*) FROM TBL_THESIS_POST
    </select>

    <select id="selectById" resultType="thesisPostDTO">
        SELECT ID,PROFESSOR_MAJOR,RESEARCH_FIELD,RESEARCH_PROFIT,RESEARCH_PERIOD,RE
        FROM TBL_THESIS_POST
        WHERE ID = #{id}
    </select>

    <update id="update">
        UPDATE TBL_THESIS_POST
        SET
        PROFESSOR_MAJOR = #{professorMajor},
        RESEARCH_FIELD = #{researchField},
        RESEARCH_PROFIT = #{researchProfit},
        RESEARCH_PERIOD = #{researchPeriod},
        RESEARCH_DEADLINE = #{researchDeadline},
        RESEARCH_START_DATE = #{researchStartDate},
        RESEARCH_SCHEDULE = #{researchSchedule},
        RESEARCH_REQUIREMENT = #{researchRequirement},
        UPDATED_DATE = SYSDATE
        WHERE ID = #{id}
    </update>


    <delete id="delete">
        DELETE FROM TBL_THESIS_POST
        WHERE ID = #{id}
    </delete>

</mapper>