<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.moa.mapper.thesis_post.ThesisPostMapper">
    <insert id="insert">
        INSERT INTO TBL_THESIS_POST(ID,PROFESSOR_MAJOR,RESEARCH_FIELD,RESEARCH_PROFIT,RESEARCH_PERIOD,RESEARCH_DEADLINE,RESEARCH_START_DATE,RESEARCH_SCHEDULE,RESEARCH_REQUIREMENT)
        VALUES (#{id},#{professorMajor},#{researchField},#{researchProfit},#{researchPeriod},#{researchDeadline},#{researchStartDate},#{researchSchedule},#{researchRequirement})
    </insert>

    <select id="selectAll" resultType="thesisPostDTO">
        SELECT TP2.ID, TP2.POST_TITLE, TP2.POST_CONTENT, TP2.MEMBER_ID, TP2.UPDATED_DATE,
               TP2.MEMBER_NICKNAME, TP2.POST_VIEW,
               PROFESSOR_MAJOR, RESEARCH_FIELD, RESEARCH_PROFIT, RESEARCH_PERIOD, RESEARCH_DEADLINE,
               RESEARCH_START_DATE, RESEARCH_SCHEDULE, RESEARCH_REQUIREMENT
        FROM
            (
                SELECT ROWNUM R, TP1.ID, TP1.POST_TITLE, TP1.POST_CONTENT, TP1.MEMBER_ID, TP1.UPDATED_DATE,
                       TP1.MEMBER_NICKNAME, TP1.POST_VIEW,
                       PROFESSOR_MAJOR, RESEARCH_FIELD, RESEARCH_PROFIT, RESEARCH_PERIOD, RESEARCH_DEADLINE,
                       RESEARCH_START_DATE, RESEARCH_SCHEDULE, RESEARCH_REQUIREMENT
                FROM
                    (
                        SELECT TP.ID, P.POST_TITLE, P.POST_CONTENT, P.MEMBER_ID,P.UPDATED_DATE,
                               M.MEMBER_NICKNAME, P.POST_VIEW,
                               PROFESSOR_MAJOR, RESEARCH_FIELD, RESEARCH_PROFIT, RESEARCH_PERIOD, RESEARCH_DEADLINE,
                               RESEARCH_START_DATE, RESEARCH_SCHEDULE, RESEARCH_REQUIREMENT
                        FROM TBL_MEMBER M
                                 JOIN TBL_POST P ON M.ID = P.MEMBER_ID
                                 JOIN TBL_THESIS_POST TP ON P.ID = TP.ID
                        ORDER BY TP.ID DESC
                    ) TP1
            <![CDATA[
                WHERE ROWNUM <= #{endRow}
            ]]>
        ) TP2
    <![CDATA[
        WHERE R >= #{startRow}
        ]]>
    </select>




    <select id="selectCount">
        SELECT COUNT(*) FROM TBL_THESIS_POST
    </select>

    <select id="selectById" resultType="thesisPostDTO">
        SELECT
            TP.ID,
            TP.PROFESSOR_MAJOR,
            TP.RESEARCH_FIELD,
            TP.RESEARCH_PROFIT,
            TP.RESEARCH_PERIOD,
            TP.RESEARCH_DEADLINE,
            TP.RESEARCH_START_DATE,
            TP.RESEARCH_SCHEDULE,
            TP.RESEARCH_REQUIREMENT,
            P.POST_TITLE,
            P.POST_CONTENT,
            P.POST_TYPE,
            P.MEMBER_ID,
            P.POST_VIEW,
            P.CREATED_DATE,
            P.UPDATED_DATE
        FROM TBL_THESIS_POST TP
                 JOIN TBL_POST P ON TP.ID = P.ID
        WHERE TP.ID = #{id}
    </select>


    <update id="update">
        UPDATE TBL_THESIS_POST
        SET
            PROFESSOR_MAJOR = #{professorMajor},
            RESEARCH_FIELD = #{researchField},
            RESEARCH_PROFIT = #{researchProfit},
            RESEARCH_PERIOD = #{researchPeriod},
            RESEARCH_DEADLINE = #{researchDeadline},
            RESEARCH_START_DATE = #{researchStartDate},
            RESEARCH_SCHEDULE = #{researchSchedule},
            RESEARCH_REQUIREMENT = #{researchRequirement}
        WHERE ID = #{id}
    </update>



    <delete id="delete">
        DELETE FROM TBL_THESIS_POST
        WHERE ID = #{id}
    </delete>

    <update id="increasePostView" parameterType="long">
        UPDATE TBL_POST
        SET POST_VIEW = POST_VIEW + 1
        WHERE ID = #{id}
    </update>

</mapper>