<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.moa.mapper.user.UserMapper">
    <insert id="insert">
        INSERT INTO TBL_USER (ID, USER_EMAIL, USER_PASSWORD, USER_ID, USER_TYPE)
        VALUES (SEQ_USER.NEXTVAL, #{userEmail}, #{userPassword}, #{userId}, #{userType})
    </insert>

    <select id="selectByUserEmailAndUserPassword" resultType="userVO">
        SELECT ID, USER_EMAIL, USER_ID
        FROM TBL_USER
        WHERE (USER_ID = #{userId} OR USER_EMAIL = #{userEmail}) AND USER_PASSWORD = #{userPassword}
    </select>

    <select id="selectById" resultType="userVO">
        SELECT ID, USER_EMAIL, USER_ID
        FROM TBL_USER
        WHERE ID = #{id}
    </select>

    <select id="selectByUserEmail" resultType="userVO">
        SELECT ID, USER_EMAIL, USER_ID
        FROM TBL_USER
        WHERE USER_EMAIL = #{userEmail}
    </select>

    <update id="updatePassword">
        UPDATE TBL_USER
        SET USER_PASSWORD = #{userPassword}
        WHERE USER_EMAIL = #{userEmail}
    </update>

    <update id="update">
        UPDATE TBL_USER
        SET USER_EMAIL = #{userEmail}, USER_NAME = #{userName}
        WHERE ID = #{id}
    </update>

    <delete id="delete">
        DELETE FROM TBL_USER
        WHERE ID = #{id}
    </delete>
</mapper>