<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>게시글 조회 - 장터 게시판</title>
        <link
            rel="stylesheet"
            href="../../static/css/market/market_inquiry.css"
        />
        <link
            rel="stylesheet"
            href="../../static/css/admin_page_CSS/admin_report/report.css"
        />
        <link
            rel="shortcut icon"
            href="https://www.wishket.com/static/favicon.ico"
        />
    </head>
    <body class="app">
        <div id="header-space" style="width: 100px; height: 100px"></div>
        <div class="wrap">
            <div class="container">
                <div class="inner">
                    <section class="main-wrap">
                        <div class="main">
                            <a id="post" name="post"></a>
                            <div class="post">
                                <div class="post-title-wrap">
                                    <div class="status-mark-wrap">
                                        <div class="status-mark-container">
                                            <div
                                                class="post-top-left"
                                                style="display: flex"
                                            >
                                                <div
                                                    class="status-mark new-mark"
                                                >
                                                    NEW
                                                </div>
                                            </div>
                                            <div class="post-top-right">
                                                <p
                                                    class="post-writer-school-major"
                                                >
                                                    한국대학교 국문학과
                                                </p>
                                                <p class="post-writer-name">
                                                    홍박사
                                                </p>
                                                <p class="post-created-date">
                                                    등록일자 2024.08.26
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <h1 class="post-title">
                                        한국대 고전 문학 자료 판매
                                    </h1>
                                    <div class="report-container">
                                        <span class="for-report" id="report-btn"
                                            ><img
                                                class="img-report"
                                                src="../../static/images/report.png"
                                            />신고하기</span
                                        >
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <div class="post-content-wrap">
                                    <div class="post-content">
                                        한국대 국문과 2학년 고전 문학 자료 1년치
                                        판매합니다.
                                        <br />

                                        <br />
                                        <br />
                                        상품명 :
                                        <br />
                                        - IT 전공서적1
                                        <br />
                                        <br />
                                        상품설명 :
                                        <br />
                                        - 새거에요
                                        <br />
                                        <br />
                                        전체 프로젝트 일정 :
                                        <br />
                                        - 전체 프로젝트 일정 : 1개월
                                        <br />
                                        - 투입 예정일 : ASAP
                                        <br />
                                        - 인터뷰 및 계약 일정 : 인터뷰 1~2일
                                        <br />
                                        - 계약 진행 프로세스: 프로젝트 지원 >
                                        실무진 인터뷰 > 계약 결정
                                        <br />
                                        <br />
                                        <br />
                                        <상세 업무 내용>
                                        <br />
                                        <br />
                                        모집 인원 :
                                        <br />
                                        - 경력 1~3년, 2명, 월 250~300만 원
                                        <br />
                                        <br />
                                        주요 업무 :
                                        <br />
                                        - PDF 매뉴얼을 Confluence 형태로 변환 시
                                        자동화로 보완되지 않는 부분을 수기 작업
                                        진행
                                        <br />
                                        - MM 모듈 담당자가 검수 완료한 매뉴얼
                                        확인
                                        <br />
                                        - 전체 모듈의 매뉴얼 표준 양식 및 코드
                                        자동화 가능 부분 검토
                                        <br />
                                        - 전체 모듈 매뉴얼 자동화 가능 부분 외
                                        보완이 필요한 부분 수기 작업 진행
                                        <br />
                                        <br />
                                        필수 기술 :
                                        <br />
                                        - HTML에 대한 기초적인 이해
                                        <br />
                                        - PPT 작성 능력
                                        <br />
                                        <br />
                                        우대 사항 :
                                        <br />
                                        - Python 기반 문서 자동화 경험 (선택
                                        사항)
                                        <br />
                                        <br />
                                        <br />
                                        <기타 유의사항>
                                        <br />
                                        <br />
                                        - 위시켓 이용요금은 클라이언트가
                                        부담합니다.
                                        <br />
                                        - 지원자 재모집을 위해 다시 한번
                                        등록됩니다.
                                        <br />
                                        <br />
                                        "- 예전 프로젝트 : "
                                        <a
                                            href="https://www.wishket.com/project/138152/"
                                            >https://www.wishket.com/project/138152/</a
                                        >
                                    </div>
                                </div>
                                <a id="attach-file" name="attach-file"></a>

                                <div class="attach-wrap">
                                    <div class="attach-button-file-wrap">
                                        <div class="attach-button">
                                            <label>
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/project/submit/btn_icon_add_s.svg"
                                                    alt="attach_img"
                                                />
                                                <div
                                                    class="font-body-2-medium text-moa"
                                                >
                                                    파일첨부
                                                </div>
                                                <input
                                                    type="file"
                                                    class="attach-input"
                                                />
                                            </label>
                                        </div>
                                    </div>
                                    <div class="attach-button-file-wrap">
                                        <div class="attach-button">
                                            <label>
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/project/submit/btn_icon_add_s.svg"
                                                    alt="attach_img"
                                                />
                                                <div
                                                    class="font-body-2-medium text-moa"
                                                >
                                                    파일첨부
                                                </div>
                                                <input
                                                    type="file"
                                                    class="attach-input"
                                                />
                                            </label>
                                        </div>
                                    </div>
                                    <div class="attach-button-file-wrap">
                                        <div class="attach-button">
                                            <label>
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/project/submit/btn_icon_add_s.svg"
                                                    alt="attach_img"
                                                />
                                                <div
                                                    class="font-body-2-medium text-moa"
                                                >
                                                    파일첨부
                                                </div>
                                                <input
                                                    type="file"
                                                    class="attach-input"
                                                />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a id="comment" name="comment"></a>
                            <div class="comment-wrap">
                                <p class="comment-count-wrap">
                                    댓글 <span class="comment-count"></span>
                                </p>
                                <div class="comment-container">
                                    <div class="comment-inner">
                                        <p class="comment">비밀 댓글입니다.</p>
                                        <div class="comment-created-date">
                                            2024.08.27. 오후 15:27
                                        </div>
                                    </div>
                                    <div class="comment-inner">
                                        <img
                                            class="comment-reply-icon"
                                            src="https://www.wishket.com/static/renewal/img/project/detail/icon_comment_reply.png"
                                        />
                                        <div class="comment-reply-wrap">
                                            <p class="comment">
                                                비밀 댓글입니다.
                                            </p>
                                            <div class="comment-created-date">
                                                2024.08.27. 오후 15:28
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-inner">
                                        <div class="comment-writer">
                                            <img
                                                src="https://cdn.wishket.com/profiles/2828_20191121_db85568715d9aacd.jpg"
                                                alt=""
                                                class="comment-writer-image"
                                            />
                                            <a
                                                href="https://www.wishket.com/partners/p/Wishket/"
                                                class="comment-writer-username"
                                                >Moa</a
                                            >
                                        </div>
                                        <p class="comment">
                                            [모아] 클라이언트의 요청으로 모집
                                            마감일이 09월 23일로 연장되었습니다.
                                        </p>
                                        <div class="comment-created-date">
                                            2024.09.02. 오후 20:18
                                        </div>
                                        <div class="reaction-button-wrap">
                                            <button class="reaction-button">
                                                답글 달기
                                            </button>
                                        </div>
                                    </div>
                                    <form class="comment-form" method="post">
                                        <div class="comment-write-wrap">
                                            <div
                                                class="comment-write-container"
                                            >
                                                <div class="comment-writer">
                                                    <img
                                                        src="https://www.wishket.com/static/img/default_avatar_c.png"
                                                        class="comment-writer-image"
                                                    />
                                                    <p
                                                        class="comment-writer-username"
                                                    >
                                                        홍박**
                                                    </p>
                                                </div>
                                                <textarea
                                                    name="comment-description"
                                                    class="comment-write-textarea"
                                                    placeholder="댓글을 2,000자 이내로 작성해주세요."
                                                    rows="4"
                                                ></textarea>
                                                <div class="comment-guide-wrap">
                                                    <p
                                                        class="comment-guide"
                                                        style="
                                                            margin-bottom: 4px;
                                                        "
                                                    >
                                                        · 작성한 내용은 수정 및
                                                        삭제가 불가합니다.
                                                    </p>
                                                    <p class="comment-guide">
                                                        · 이메일, 전화번호 등을
                                                        게시하여 직거래를 유도할
                                                        경우 서비스 이용에
                                                        제재를 받을 수 있습니다.
                                                    </p>
                                                </div>
                                                <div
                                                    class="comment-complete-button-wrap"
                                                >
                                                    <div
                                                        class="secret-comment-option"
                                                    >
                                                        <label
                                                            class="checkbox-moa"
                                                        >
                                                            <span
                                                                class="secret-comment-checkbox"
                                                            >
                                                                <input
                                                                    type="checkbox"
                                                                    class="secret-comment-input"
                                                                    name="secret"
                                                                    value="secret"
                                                                />
                                                                <span
                                                                    class="secret-comment-checkbox-image"
                                                                >
                                                                    <svg
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 16 16"
                                                                    >
                                                                        <g
                                                                            fill="none"
                                                                            fill-rule="evenodd"
                                                                        >
                                                                            <path
                                                                                class="checked-icon"
                                                                                stroke="#FFF"
                                                                                stroke-linecap="round"
                                                                                stroke-linejoin="round"
                                                                                stroke-width="1.6"
                                                                                d="M4 7.8L7 11l5-6"
                                                                            ></path>
                                                                        </g>
                                                                    </svg>
                                                                </span>
                                                            </span>
                                                            <span>비밀글</span>
                                                        </label>
                                                    </div>
                                                    <button
                                                        class="comment-complete-button"
                                                    >
                                                        작성하기
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div id="profileModal" class="modal">
            <div class="modal-content">
                <span class="close"></span>
                <h2>게시글 신고</h2>
                <form id="uploadForm">
                    <div class="btn-group">
                        <!-- 체크박스 4개 -->
                        <div>
                            <label class="checkbox-moa">
                                <input
                                    type="checkbox"
                                    name="option1"
                                    value="option1"
                                />
                                <span class="report-reason"
                                    >폭력적 또는 혐오스러운 게시글</span
                                >
                            </label>
                        </div>
                        <div>
                            <label class="checkbox-moa">
                                <input
                                    type="checkbox"
                                    name="option2"
                                    value="option2"
                                />
                                <span class="report-reason">잘못된 정보</span>
                            </label>
                        </div>
                        <div>
                            <label class="checkbox-moa">
                                <input
                                    type="checkbox"
                                    name="option3"
                                    value="option3"
                                />
                                <span class="report-reason"
                                    >스팸 또는 혼동을 야기하는 게시글</span
                                >
                            </label>
                        </div>
                        <div>
                            <label class="checkbox-moa">
                                <input
                                    type="checkbox"
                                    name="option4"
                                    value="option4"
                                />
                                <span class="report-reason">성적인 게시글</span>
                            </label>
                        </div>

                        <!-- 텍스트 입력 부분 -->
                        <div>
                            <label for="textInput">기타:</label>
                            <input
                                type="text"
                                id="textInput"
                                name="textInput"
                                placeholder="신고 사유를 입력해주세요."
                            />
                        </div>
                    </div>
                </form>
                <button
                    type="button"
                    class="report-submit-btn"
                    id="reportSubmitBtn"
                >
                    신고하기
                </button>
            </div>
        </div>
        <div id="footer-space" style="width: 100px; height: 100px"></div>
    </body>
    <script src="../../static/js/market/market_inquiry.js"></script>
    <script src="../../static/js/adminPage_JS/admin_report/report.js"></script>
</html>
