<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>게시글 작성 <2> - 논문 게시판</title>
        <link
            rel="stylesheet"
            href="../../static/css/thesis/thesis_write2.css"
        />
        <link
            rel="shortcut icon"
            href="https://www.wishket.com/static/favicon.ico"
        />
    </head>
    <body>
        <div id="header-space" style="width: 100px; height: 100px"></div>
        <div class="wrap">
            <div>
                <div class="container">
                    <form>
                        <div class="post-write-form-section">
                            <div class="form-section-header">
                                <p class="form-section-title subtitle-1">
                                    논문 공고 작성 <2>
                                </p>
                            </div>
                            <div class="form-input-section">
                                <div class="form-part">
                                    <label class="form-title font-body-1-bold"
                                        >프로젝트 예정 사항
                                        <span class="required">*</span>
                                    </label>
                                    <div class="mb8"></div>
                                    <div class="form-content">
                                        <div>
                                            <div class="content-textarea">
                                                <div class="textarea-border">
                                                    <textarea
                                                        class="moa-textarea font-body-2 text6"
                                                        name="textarea"
                                                        id="content-textarea1"
                                                        maxlength="5000"
                                                        rows="15"
                                                        style="
                                                            width: 100%;
                                                            min-width: 100%;
                                                            max-width: 100%;
                                                        "
                                                    >
<아래는 예시 양식입니다!!>

진행 분류 : 신규 프로젝트를 진행하려 합니다.
기획 상태 : 아이디어만 있는 상태
프로젝트 경험 : 양자물리학 프로젝트 진행 경험 있음
협업 예정 인력 : 지원자 본인 제외 교수 1명과 파트너 4명
                                                    </textarea>
                                                </div>
                                                <span
                                                    class="word-length word-length1"
                                                ></span>
                                                <span
                                                    class="help-text help-text1"
                                                ></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-part">
                                    <label class="form-title font-body-1-bold"
                                        >모집 요건
                                    </label>
                                    <div class="mb8"></div>
                                    <div class="form-content">
                                        <div>
                                            <div class="content-textarea">
                                                <div class="textarea-border">
                                                    <textarea
                                                        class="moa-textarea font-body-2 text6"
                                                        name="textarea"
                                                        id="title-textarea"
                                                        maxlength="260"
                                                        rows="4"
                                                        style="
                                                            width: 100%;
                                                            min-width: 100%;
                                                            max-width: 100%;
                                                            min-height: 30px;
                                                        "
                                                    >
모집 요건을 입력해 주세요. ex) 
주 3회 한국대학교 출근 후 협업 가능자, 관련 분야 전공자</textarea
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="divide-wrap"></div>
                                <div class="form-part">
                                    <label class="form-title font-body-1-bold"
                                        >프로젝트 내용
                                        <span class="required">*</span>
                                    </label>
                                    <div class="mb8"></div>
                                    <div class="form-content">
                                        <div>
                                            <div class="content-textarea">
                                                <div class="textarea-border">
                                                    <textarea
                                                        class="moa-textarea font-body-2 text6"
                                                        name="textarea"
                                                        id="content-textarea2"
                                                        maxlength="5000"
                                                        rows="15"
                                                        style="
                                                            width: 100%;
                                                            min-width: 100%;
                                                            max-width: 100%;
                                                        "
                                                    >
<아래는 예시 양식입니다!!>
                                                    
프로젝트 개요 : 최근 양자물리학과 관련하여 새롭게 등장한 OOO 이론에 관한 연구를 진행하려고 합니다.
현재 준비 상황 : 회의를 통해 연구에 필요한 기획을 완료하였고, 설비도 갖춘 상태입니다.
필요 요소 : 연구를 통해 OOO 이론을 뒷받침 할 근거가 될 수 있는 결과 도출
환경/진행방식 : 주 5일 / 9시 ~ 16시 / 한국대학교 연구실
요구 사항 : 일단 함꼐 연구를 진행하게되면 성실하게 참여해주셨으면 합니다.
산출물 :
    기획 : 세부 기획 사항은 첨부파일로 올려두었습니다.
    연구 결과 : 프로젝트 참여 인원들과 함께 한글파일로 작성 해주셔야 합니다.
참고 서비스/사이트 : https://www.thesisKorea.com/oootheory/14213
기타 참고 사항/유의 사항 : 연구 방해 및 연구 내용 유출 시 법적으로 대응할 예정입니다.
                                                    </textarea>
                                                </div>
                                                <span
                                                    class="word-length word-length2"
                                                ></span>
                                                <span
                                                    class="help-text help-text2"
                                                ></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="attach-wrap">
                                        <div class="attach-button-file-wrap">
                                            <div class="attach-button">
                                                <label>
                                                    <img
                                                        src="https://www.wishket.com/static/renewal/img/project/submit/btn_icon_add_s.svg"
                                                        alt="attach_img"
                                                    />
                                                    <div
                                                        class="font-body-2-medium text-moa"
                                                    >
                                                        파일첨부
                                                    </div>
                                                    <input
                                                        type="file"
                                                        class="attach-input"
                                                    />
                                                </label>
                                            </div>
                                        </div>
                                        <div class="attach-button-file-wrap">
                                            <div class="attach-button">
                                                <label>
                                                    <img
                                                        src="https://www.wishket.com/static/renewal/img/project/submit/btn_icon_add_s.svg"
                                                        alt="attach_img"
                                                    />
                                                    <div
                                                        class="font-body-2-medium text-moa"
                                                    >
                                                        파일첨부
                                                    </div>
                                                    <input
                                                        type="file"
                                                        class="attach-input"
                                                    />
                                                </label>
                                            </div>
                                        </div>
                                        <div class="attach-button-file-wrap">
                                            <div class="attach-button">
                                                <label>
                                                    <img
                                                        src="https://www.wishket.com/static/renewal/img/project/submit/btn_icon_add_s.svg"
                                                        alt="attach_img"
                                                    />
                                                    <div
                                                        class="font-body-2-medium text-moa"
                                                    >
                                                        파일첨부
                                                    </div>
                                                    <input
                                                        type="file"
                                                        class="attach-input"
                                                    />
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="complete-save-button-divider">
                                <div class="complete-button">작성완료</div>
                                <div class="save-button">저장</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="footer-space" style="width: 100px; height: 100px"></div>
    </body>
    <script src="../../static/js/thesis/thesis_write2.js"></script>
</html>
