@import url("https://www.wishket.com//static/css/general/general.css?231221");

* {
    font-family: /* "NotoSansKR", */ "Sans-serif";
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    background-color: #f5f5f5;
    width: 1080px;
    margin: 0 auto;
}

button {
    border: none;
    background: none;
}

/* ul {
    list-style: none;
}

ul li {
    padding: 0;
    margin: 0;
} */

a {
    text-decoration: none;
    color: #212121;
}

.wrap {
    min-width: 1080px;
    height: auto;
    min-height: 70%;
}

.app .container {
    margin-top: 20px;
}

.app .container .inner {
    width: 1080px;
}

.inner {
    width: 1080px;
    margin: 0 auto;
}

.app .container .main-wrap {
    display: flex;
}

.app .container .main-wrap .main {
    width: 800px;
}

.app .container .post {
    padding: 24px 32px 32px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .16);
    margin-bottom: 24px;
}

.status-mark-wrap {
    margin-bottom: 8px;
}

.status-mark-container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.status-mark-container div.status-mark {
    display: flex;
    align-items: center;
    padding: 1px 7px;
    border: 1px solid;
    border-radius: 8px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.new-mark {
    border-color: #abe3f2;
    background-color: #e8faff;
    color: #369cc2;
}

.app .container .main-wrap .main .post .post-title-wrap .post-top-right {
    display: flex;
    gap: 26px;
    font-size: 12px;
    justify-content: flex-end;
}

.app .container .main-wrap .main .post .post-title-wrap .post-writer-school-major, .app .container .main-wrap .main .post .post-title-wrap .post-writer-name, .app .container .main-wrap .main .post .post-title-wrap .post-created-date {
    float: right;
    margin-top: 2px;
    display: flex;
    margin-left: auto;
    color: #bdbdbd;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.post-title {
    color: #212121;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 24px;
}

.app .container .main-wrap .divider {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 40px 0 32px;
}

.app .container .post .post-content-wrap .post-content {
    word-break: break-all;
    color: #212121;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.app .container .post .post-content-wrap .post-content a {
    color: #3ba3c7;
}

.attach-wrap {
    margin-top: 45px;
    position: relative;
    padding: 16px;
    border-radius: 16px;
    background-color: #f7fafc;
    display: flex;
    height: 106px;
    gap: 16px;
    flex: 0 1;
    justify-content: space-evenly;
}

.attach-button {
    height: 100%;
}

.attach-wrap .attach-button label {
    display: flex;
    justify-content: center;
    gap: 4px;
    width: 210px;
    cursor: pointer;
    padding: 24px 16px;
    align-items: center;
    border: 1px dashed #e6ebf0;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px rgba(230, 235, 240, .8);
}

.text-moa {
    color: #3ba3c7;
}

.font-body-2-medium {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.thumbnail-wrap {
    width: 72px;
    height: 52px;
    position: relative;
    margin: 0 auto;
}

.thumbnail, .attach-cancel-button {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.thumbnail {
    width: 100%;
    height: 100%;
}

.attach-cancel-button {
    display: none;
    position: absolute;
    background-image: url("../../../static/images/cancel.png");
    width: 30px;
    height: 30px;
    top: 0;
    cursor: pointer;
    right: 5px;
}

/* #attach-input, .attach-check  */
input {
    display: none;
}

.attach-file {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 210px;
    height: 100%;
    padding: 0 16px;
    align-items: center;
    border: 1px dashed #e6ebf0;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px rgba(230, 235, 240, .8);
    position: relative;
}

.attach-file label {
    width: 100%;
    height: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.attach-text-wrap {
    font-size: 12px;
}

.app .container .comment-wrap {
    padding: 24px 32px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .16);
    margin-bottom: 40px;
}

.comment-count-wrap {
    color: #212121;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

.app .container .comment-wrap .comment-count-wrap .comment-count {
    color: #ff6b21;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

.comment-container .comment-inner {
    padding-top: 16px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}

.comment-container .comment-inner .comment {
    word-break: break-all;
    color: #616161;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 4px;
}

.comment-created-date {
    color: #bdbdbd;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.comment-container .comment-inner .comment-reply-icon {
    position: absolute;
    left: 24px;
    top: 18px;
}

.comment-container .comment-inner .comment-reply-icon+.comment-reply-wrap {
    margin-left: 56px;
}

.comment-container .comment-writer {
    position: relative;
    margin-bottom: 4px;
}

.comment-container .comment-writer .comment-writer-image {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    left: 0;
    top: 2px;
}

.comment-container .comment-writer .comment-writer-username {
    margin-left: 28px;
    display: inline-block;
    text-decoration: none;
    color: #3ba3c7;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.reaction-button {
    color: #616161;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border-radius: 4px;
    border: none;
}

.comment-container .comment-write-wrap {
    padding: 16px 0;
}

.comment-container .comment-write-container {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.comment-container .comment-write-container .comment-writer {
    margin: 8px 12px;
    position: relative;
}

.comment-container .comment-writer .comment-writer-image {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    left: 0;
    top: 2px;
}

.comment-writer-username {
    color: #616161;
    margin-left: 28px;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.comment-write-textarea {
    border: none;
    width: 100%;
    resize: none;
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
    color: #616161;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.comment-container .comment-write-container .comment-guide-wrap {
    background-color: #f7fafc;
    padding: 12px 16px;
    border-bottom: 1px solid #e6ebf0;
}

.comment-guide {
    color: #757575;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.comment-container .comment-write-container .comment-complete-button-wrap {
    padding: 16px 12px;
}

.comment-container .comment-write-container .comment-complete-button-wrap .secret-comment-option {
    display: inline-block;
}

.checkbox-moa {
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.checkbox-moa:after {
    content: '';
    clear: both;
    display: block;
}

.checkbox-moa:hover>span:first-child>span {
    border-color: #3ba3c7;
}

.checkbox-moa>span:first-child>input:checked+span .checked-icon {
    stroke-dashoffset: 0;
}

.secret-comment-checkbox {
    position: absolute;
    top: 1px;
    left: 0;
}

.secret-comment-input {
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 0px;
    height: 0px;
}

.secret-comment-input:checked+span {
    background: #3ba3c7 !important;
    border-color: #3ba3c7 !important;
}

.secret-comment-checkbox-image {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 3px;
    left: 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background: #fff;
}

.checked-icon {
    transition: stroke-dashoffset 0.18s cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    stroke-dashoffset: 29.7833385;
    stroke-dasharray: 29.7833385;
}

.checkbox-moa>span:last-child {
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    color: #212121;
    line-height: 1.5rem;
    padding-left: 28px;
    display: inline-block;
    word-break: keep-all;
}

.comment-container .comment-write-container .comment-complete-button-wrap .secret-comment-option+.comment-complete-button {
    margin-top: -4px;
    background-color: #2099bb;
    color: #fff;
    border: #2099bb;
    padding: 4px 16px;
    float: right;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border-radius: 4px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.report-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.report-container {
    margin-bottom: -20px;
    display: inline-block;
}

.for-report {
    text-align: right;
    font-size: 12px;
    color: #616161;
}

.for-report:hover {
    text-align: right;
    font-size: 12px;
    color: #616161;
    text-decoration: underline;
    cursor: pointer;
}

#img-report {
    width: 24px;
    height: 24px;
    margin: 0 4px -7px;
}

#img-edit {
    width: 24px;
    height: 24px;
    margin: 0 4px -7px 0;
}

#img-delete {
    width: 24px;
    height: 24px;
    margin: 0 0 -7px;
}




